@media (min-width: 640px) {
    nav{
        max-width: 100%;
        background-color: red;
    }
    
    .navigation{
        flex-direction: row;
    }
    
    .navigation li{
        display:block;
        flex: 1 1 100%;
    }

    #menu{
        display:none;
    }

    main {
        grid-template-columns: auto auto;
    }
    
    .card{
        grid-column: auto;
        border-radius: 4px;
        padding: .5rem;
        margin: 10px;
    }

    .sidebar{
        grid-column: 1/2;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }

    .discover{
        grid-column: 2/3;
    }

    .discover img:hover{
        box-shadow: 0 0 50px #333;
    }

    #news{
        grid-row: 1/2
    }
}